<template>
  <div>
    <template v-if="hasInfo">
      <p>Bienvenue {{ getFirstName() }}</p>
      <b-field label="Search">
        <b-input v-model="city"
                 v-on:keydown.native.enter="getWeather"
                 placeholder="Paris" autofocus></b-input>
      </b-field>
      <today :data="today" v-if="today"/>
      <next-days :data="nextDays"/>
    </template>
    <template v-else>
      <section class="welcome">
        <b-field label="Welcome">
          <b-input v-model="firstName"
                   placeholder="first name"></b-input>
        </b-field>
        <b-field>
          <b-input v-model="myCity"
                   placeholder="Your City"></b-input>
        </b-field>
        <b-button @click="saveInfo">OK</b-button>
      </section>
    </template>
  </div>
</template>

<script>
import Today from '@/components/Today'
import NextDays from '@/components/NextDays'
import axios from 'axios';
import BButton from "buefy/src/components/button/Button";

const API_KEY = '4ce733f6e5d94cd96f32d49b0b95fbdb';

export default {
  name: 'Home',
  components: { Today, NextDays },
  mounted() {
    this.hasInfo = !!(localStorage.getItem('first-name') || localStorage.getItem('my-city'));
    if (this.getCity()) {
      this.city = this.getCity();
      this.getWeather();
    }
  },
  data() {
    return {
      city: '',
      firstName: '',
      myCity: '',
      weatherData: [],
      hasInfo: false,
    };
  },
  methods: {
    getWeather() {
      axios
        .get(`https://api.openweathermap.org/data/2.5/forecast?q=${this.city}&units=metric&appid=${API_KEY}`)
        .then(response => this.weatherData = response.data.list)
        .catch(() => {
          this.$buefy.toast.open({
            message: `Could not find data for this city.`,
            type: 'is-warning',
            position: 'is-bottom',
          });
        })
    },
    saveInfo() {
      // Rushed this part...
      localStorage.setItem('first-name', this.firstName);
      localStorage.setItem('my-city', this.myCity);
      this.hasInfo = true;
      this.city = this.myCity;
      this.getWeather();
    },
    getFirstName() {
      return localStorage.getItem('first-name') || '';
    },
    getCity() {
      return localStorage.getItem('my-city') || '';
    },
  },
  computed: {
    today() {
      return this.weatherData[0];
    },
    nextDays() {
      return this.weatherData.slice(1);
    },
  },
}
</script>
