<template>
  <div class="next-days">
    <h3>Next days</h3>
    <div class="box" v-for="day in byDays">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img :src="`http://openweathermap.org/img/wn/${day.weather[0].icon}.png`"/>
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{ formatDate(day) }}</strong>
              <br>
              {{ temperature(day.main.temp) }}
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</template>

<script>
import weather from '@/weather.mixin'
import uniqBy from 'lodash.uniqby'

export default {
  name: "NextDays",
  mixins: [ weather ],
  props: {
    data: Array,
  },
  methods: {
    formatDate(day) {
      return day.dt_txt.split(' ')[0];
    },
  },
  computed: {
    byDays() {
      // Could't use one call
      // Get weather by day
      return uniqBy(this.data.filter(d => {
        const hour = d.dt_txt.split(' ')[1].split(':')[0];
        return hour > 10 && hour < 17;
      }), this.formatDate);
    },
  },
}
</script>

<style scoped>
.next-days {
  margin-top: 20px;
}
</style>