<template>
  <div>
    <h2>Today</h2>
    <h3>{{ data.weather[0].description }}</h3>
    <p>
      <img :src="`http://openweathermap.org/img/wn/${data.weather[0].icon}@4x.png`"/>
    </p>
    <p>{{ temperature(data.main.temp) }}</p>
  </div>
</template>

<script>
import weather from '@/weather.mixin'

export default {
  name: "TodayWeather",
  mixins: [ weather ],
  props: {
    data: Object,
  },
}
</script>
